<IfModule mod_php4.c>
  php_value engine off
</IfModule>
<IfModule mod_php5.c>
  php_value engine off
</IfModule>

<IfModule mod_headers.c>
  Header set Content-Disposition attachment
<FilesMatch "\.(?i:png|PNG|jpg|JPG|jpeg|JPEG|pdf|PDF|gif|GIF|bmp|BMP)$">
  Header set Content-Disposition inline
</FilesMatch>

</IfModule>